{% extends "main/main.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h3>Write and publish something</h3>
        <form method="post" action=".">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputPassword1">Title</label>
                <input type="text" class="form-control" id="exampleInputPassword1" value="title">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" value="description">
            </div>
                <input type="file"
                       value="file">
            <input type="submit" class="btn btn-primary">
        </form>
    </div>

{% endblock %}